.alarm-card{
max-width: 440px;
width: 100%;
padding: 30px;
background: #0e2553;
color: #ffffff;
border-radius: 16px;
margin: 24px auto;
}
h1{
    color: #ffcd0a;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
}
h2{
    font-size: 48px;
    text-align: center;
    font-weight: 500;
    color: #00D9FE;
    margin: 30px auto;
}
button{
    background: whitesmoke;
    font-size: 20px;
    padding: 14px;
    border-color: whitesmoke;
    color:#243356;
    margin-top: 12px;
}
img{
    margin: 20px auto;
    display: block;
}
